@font-face {
  font-family: Archivo;
  src: url(../font/static/Archivo-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: Archivo;
  src: url(../font/static/Archivo-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: Archivo;
  src: url(../font/static/Archivo-SemiBold.ttf);
  font-style: normal;
}

@font-face {
  font-family: Archivo;
  src: url(../font/static/Archivo-Bold.ttf);
  font-style: normal;
}

@font-face {
  font-family: Archivo;
  src: url(../font/Archivo-VariableFont_wdth\,wght.ttf);
  font-stretch: 50% 150%;
}

body {
  font-family: Archivo, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--text-size);
}

h1,
h2,
h3,
h4 {
  --line-height: 1;
  --text-color: #000000;
  --weight: 700;

  font-size: var(--text-size);
  font-weight: var(--weight);
  line-height: var(--line-height);
  color: var(--text-color);
}

h1 {
  --text-size: 3.2rem;
}

h3 {
  --text-color: #656565;
}

p {
  font-size: var(--text-size);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.cart-item_name {
  --text-size: clamp(1.4rem, 1.2rem + 0.5vw, 2rem);
  --text-color: #000000;
  --weight: 700;

  font-size: var(--text-size);
  font-weight: var(--weight);
  color: var(--text-color);
}

.cart-item_price {
  --text-size: clamp(1.4rem, 1.2rem + 0.5vw, 2rem);

  font-size: var(--text-size);
}

.clear-btn {
  --bg-color: #000000;
  --text-color: #ffffff;
  --weight: 500;
  --letter-spacing: 0.2rem;

  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: var(--weight);
  letter-spacing: var(--letter-spacing);
}

.products_breadcrums {
  --text-size: 1.8rem;
}

.products_breadcrum:last-of-type {
  --text-color: #656565;
  --weight: 400;

  font-weight: var(--weight);
  color: var(--text-color);
}

.card_img-caption {
  --text-color: #000000;

  color: var(--text-color);
  font-size: var(--text-size);
}

.pagination_number--active {
  --text-color: #000000;
  --weight: 600;

  font-weight: var(--weight);
  color: var(--text-color);
}

.people-also-buy_img {
  cursor: pointer;
}
