.icon-btn {
  --padding-x: 0.7rem;

  border: none;
  background-color: transparent;
  padding: var(--padding-x);
  border-radius: 8px;
}

.icon-btn:hover,
.icon-btn:focus-visible {
  --bg-color: #dcd9d9;

  background-color: var(--bg-color);
}

.card_btn {
  --bg-color: #000000;
  --text-color: #ffffff;
  --weight: 500;

  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: var(--padding-y);
  font-size: 2.3rem;
  font-weight: var(--weight);
  letter-spacing: 0.2rem;
}
