/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
}

/* 5. Improve media defaults */
img {
  display: block;
  max-inline-size: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button {
  font: inherit;
}

a {
  color: inherit;
}
