.font-size-18 {
  --text-size: 1.8rem;
}

.font-size-22 {
  --text-size: 2.2rem;
}

.font-size-23 {
  --text-size: 2.3rem;
}

.font-size-29 {
  --text-size: 2.9rem;
}

.font-size-34 {
  --text-size: 3.4rem;
}

.flexbox {
  display: var(--flex);
  flex-direction: var(--flex-direction);
  justify-content: var(--justify);
  align-items: var(--align);
  gap: var(--gap);
}

.gridbox {
  display: var(--grid);
  grid-template-columns: var(--columns);
  justify-items: var(--justify);
  align-items: var(--align);
  gap: (--gap);
}

.align-end {
  align-self: end;
}

.align-start {
  align-self: start;
}

.mt-24 {
  margin-block-start: 2.4rem;
}

.mb-25 {
  margin-block-end: 3.5rem;
}

.pb-20 {
  padding-block-end: 2rem;
}
