.font-size-22 {
  --text-size: 2.2rem;
}

.font-size-29 {
  --text-size: 2.9rem;
}

.font-size-34 {
  --text-size: 3.4rem;
}

.flexbox {
  display: var(--flex);
  flex-direction: var(--flex-direction);
  justify-content: var(--justify);
  align-items: var(--align);
  gap: var(--gap);
}
